#need to identify where the script can expect certain files
ensemble="DK-Sor"
codebase="ctsm54004_bgc"
exp="lhc"
PPE="/glade/u/home/linnia/calLMIP-clm-config/jobscripts/"
SCRIPTS="/glade/work/linnia/ctsm5.4.004/cime/scripts/"
SCRATCH="/glade/derecho/scratch/linnia/"
PROJECT="P93300041"

#the list of paramfiles
paramList="lhc/lhc.txt"

#where to find the parameter files
PARAMS="/glade/work/linnia/calLMIP/ctsm54004_DK-Sor_lhc/paramfiles/"

#options to specify unique namelist_mods for each paramset
# e.g. if you are varying baseflow_scalar
nlmodsFlag=false
NLMODS="/glade/work/linnia/calLMIP/ctsm54004_DK-Sor_lhc/namelist_mods/"

#tethering information
tetherFlag=true
tether=/glade/u/home/linnia/calLMIP-clm-config/jobscripts/tether.sh
template=/glade/u/home/linnia/calLMIP-clm-config/jobscripts/derecho.template
CDIR="/glade/work/linnia/calLMIP/base_cases/"
cases=($CDIR$codebase"_"$ensemble"_AD" \
       $CDIR$codebase"_"$ensemble"_postAD" \
       #$CDIR$codebase"_"$ensemble"_pretower" \ 
       #$CDIR$codebase"_"$ensemble"_tower" \
        )
segments=($CDIR$codebase"_"$ensemble"_AD" \
          $CDIR$codebase"_"$ensemble"_postAD" \
          #$CDIR$codebase"_"$ensemble"_pretower" \
          #$CDIR$codebase"_"$ensemble"_tower" \
            )
casemods=("none" \
          $PPE$exp"/mods/finidat.sh" \
	  #$PPE$exp"/mods/part1.sh" \
      #$PPE$exp"/mods/finidat.sh"\
        )

#where you want the newcases to go
CASEDIR="/glade/work/linnia/calLMIP/ctsm54004_DK-Sor_lhc/"

#unique restarts for first stage?
finidatFlag=false